/* Modal */


/* Modal_Pantalla */

.modal_div {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal_Producto */

.modal-content {
    left: 25%;
    top: 10%;
    display: none;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    z-index: 2;
    padding: 1%;
}

.img_modal {
    margin: 5%;
    width: 100%;
}

.titulo_nav_modal {
    width: 100%;
    margin-top: 2%;
}

.titulo_texto_modal {
    font-size: 150%;
    font-family: 'Work Sans';
    width: 70%;
    height: auto;
    word-wrap: break-word;
    line-height: 100%;
    display: inline-block;
}

.corazon_modal {
    float: right;
    height: 2.5vh;
    width: 30%;
    margin-top: 1%;
}

.cerrar_modal {
    float: right;
    border-style: none;
    margin-top: -5%;
    margin-right: -5%;
    background-color: white;
}

.detalles_modal {
    height: auto;
    width: 25%;
}

.detalle_modal_und {
    color: rgb(131, 131, 131);
    font-size: 100%;
    font-family: 'Work Sans';
    width: 100%;
    word-wrap: break-word;
    line-height: 100%;
}

.precio_modal_und {
    color: #83e447;
    font-size: 150%;
    font-family: 'Work Sans';
    width: 100%;
    word-wrap: break-word;
    font-weight: bold;
    margin-top: -5%;
    line-height: 100%;
}

.oferta {
    color: gray;
    font-size: 75%;
    font-family: 'Work Sans';
    width: 100%;
    word-wrap: break-word;
    font-weight: lighter;
    margin-top: -5%;
    line-height: 100%;
}

.texto_modal_contenido {
    color: gray;
    line-height: 120%;
    font-family: 'Work Sans';
    width: 90%;
    text-align: justify;
    margin-top: 5%;
    word-wrap: break-word;
    margin-bottom: 5%;
}

.boton_modal {
    font-family: 'Work Sans';
    padding: 1.5%;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    width: 40%;
    background-color: #efa229;
    margin-left: 35%;
}


/* Modal_cuenta */

.modal-content-cuenta {
    left: 72.5%;
    top: 10%;
    display: none;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    width: 15%;
    z-index: 2;
    padding: 1%;
    border-style: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.modal_contenido_div {
    font-family: sans-serif;
    background-color: white;
    margin: 1%;
    border-style: none;
    padding: 1%;
}


/* Modal carito */

.modal-content-carito {
    left: 35%;
    top: 10%;
    display: none;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    z-index: 2;
    padding: 1%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.carrito_detalle {
    width: 100%;
    word-wrap: break-word;
}

.botones_carrito {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    width: 75%;
    text-align: center;
    background-color: #5ccb5f;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-family: 'Work Sans';
}


/* NAVBAR */

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.navs {
    width: 100%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 70%;
    height: 8vh;
    border-radius: 20px;
    margin-left: 3%;
}

.input_nav {
    border-style: none;
    width: 80%;
}

.icon_search {
    color: #83e447;
    float: right;
    margin-right: 2.5%;
}

.busqueda {
    font-family: 'Work Sans';
    border-radius: 30px;
    border-color: #83e447;
    border-style: solid;
    border-width: thin;
    width: 100%;
    padding: 1%;
    color: rgb(170, 167, 167);
    font-size: 110%;
    display: inline-block;
    margin-top: 1%;
}

.boton_bq {
    border-style: none;
    background-color: white;
}

.iconos_nav {
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
}

.botones_nav_icon {
    border-style: none;
    background-color: white;
    color: #5ccb5f;
}

.texto_nav_icon {
    font-family: 'Work Sans';
    color: #5ccb5f;
    font-size: 80%;
}

.hr_style {
    width: 100%;
    color: rgb(180, 180, 180);
}


/* Busqueda */

.precio {
    float: left;
    background-color: white;
    height: 180vh;
    width: 15%;
    margin-left: 2%;
    margin-right: 1.5%;
    margin-top: 1%;
    padding: 2%;
}

.boton_precio {
    border-radius: 30px;
    background-color: #5ccb5f;
    color: white;
    text-align: center;
    border-style: none;
    width: 90%;
    height: 5vh;
    margin-left: 5%;
}

.input_range {
    border-width: thin;
    width: 40%;
    margin-bottom: 10%;
    margin-left: 5.5%;
    text-align: center;
}


/* CARDS */

.contenedor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.carta {
    display: inline-block;
    width: 20%;
    margin-right: 4%;
    border-style: none;
}

.imagen {
    margin-bottom: -10%;
}

.texto_titulo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}

.complemento {
    color: rgb(170, 167, 167);
    margin: 0.3%;
    text-align: center;
    line-height: 200%;
    font-family: 'Work Sans';
    font-size: large;
    margin-top: -5%;
}

.complemento_money {
    color: #5ccb5f;
    font-size: x-large;
    text-align: center;
}

.boton {
    display: none;
    background-color: #efa229;
    width: 70%;
    height: 5vh;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: -3%;
    color: white;
}

.corazon {
    display: none;
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: -100%;
}

.carta:hover {
    box-shadow: 0px 0px 5px 0px rgba(199, 189, 199, 1);
    position: relative;
}

.carta:hover>.corazon {
    display: block;
}

.corazon:hover {
    color: red;
}

.carta:hover>.boton {
    display: block;
}

.boton:hover {
    background-color: #5ccb5f;
    color: black;
}

.paginacion {
    text-align: center;
    width: 85%;
    margin-top: 5%;
    margin-left: 38%;
    margin-bottom: 5%;
}


/* Paginacion */

.paginado {
    padding: 0.33%;
    border-color: #ddd;
    border-radius: 0px;
}

.texto_paginado {
    text-align: center;
    color: #5ccb5f;
}