/* Modal */
.modal_div {
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    left: 25%;
    top: 25%;
    overflow-y: hidden;
    display: flex;
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50vh;
    z-index: 2;
  }

  


/* NAVBAR */

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.navs {
    margin: 0%;
    width: 100%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 15%;
    height: 11vh;
    border-radius: 20px;
    margin-left: 2%;
}

.input_nav {
    border-style: none;
    width: 80%;
}

.icon_search {
    color: #83e447;
    float: right;
    margin-right: 2.5%;
}

.busqueda {
    font-family: 'Work Sans';
    border-radius: 30px;
    border-color: #83e447;
    border-style: solid;
    border-width: thin;
    width: 55%;
    padding: 1%;
    padding-left: 2%;
    color: rgb(170, 167, 167);
    font-size: 110%;
    display: inline-block;
    margin-left: 2.8%;
}

.boton_bq {
    border-style: none;
    background-color: white;
}

.iconnav {
    color: rgb(170, 167, 167);
    float: right;
    padding-top: 1.5%;
    width: 10%;
    color: #83e447;
    text-align: center;
    margin-right: 0.01%;
    margin-left: -3%;
}

.pnav {
    color: rgb(170, 167, 167);
    font-family: 'Work Sans';
    font-size: thin;
    text-align: center;
    line-height: 100%;
}

.hr_style {
    width: 100%;
    color: rgb(180, 180, 180);
}


/* Busqueda */

.precio {
    float: left;
    background-color: white;
    height: 180vh;
    width: 15%;
    margin-left: 2%;
    margin-right: 1.5%;
    margin-top: 1%;
    padding: 2%;
}

.boton_precio {
    border-radius: 30px;
    background-color: #5ccb5f;
    color: white;
    text-align: center;
    border-style: none;
    width: 90%;
    height: 5vh;
    margin-left: 5%;
}

.input_range {
    border-width: thin;
    width: 40%;
    margin-bottom: 10%;
    margin-left: 5.5%;
    text-align: center;
}


/* CARDS */

.contenedor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.carta {
    display: inline-block;
    width: 20%;
    margin-right: 4%;
    border-style: none;
}

.imagen {
    margin-bottom: -10%;
}

.texto_titulo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}

.complemento {
    color: rgb(170, 167, 167);
    margin: 0.3%;
    text-align: center;
    line-height: 200%;
    font-family: 'Work Sans';
    font-size: large;
    margin-top: -5%;
}

.complemento_money {
    color: #5ccb5f;
    font-size: x-large;
    text-align: center;
}

.boton {
    display: none;
    background-color: #efa229;
    width: 70%;
    height: 5vh;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: -3%;
    color: white;
}

.corazon {
    display: none;
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: -100%;
}

.carta:hover {
    box-shadow: 0px 0px 5px 0px rgba(199, 189, 199, 1);
    position: relative;
}

.carta:hover>.corazon {
    display: block;
}

.corazon:hover {
    color: red;
}

.carta:hover>.boton {
    display: block;
}

.boton:hover {
    background-color: #5ccb5f;
    color: black;
}

.paginacion {
    text-align: center;
    width: 85%;
    margin-top: 5%;
    margin-left: 38%;
    margin-bottom: 5%;
}


/* Paginacion */

.paginado {
    padding: 0.33%;
    border-color: #ddd;
    border-radius: 0px;
}

.texto_paginado {
    text-align: center;
    color: #5ccb5f;
}